@model Supermarket.Main.Areas.Management.Models.ProductOperationDetailsViewModel

@{
    ViewBag.Title = "Load products";
}

<h2>Make a products replenishment</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addProductToListForm" }))
{
    <div id="addProductInfo">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @(Html.Kendo().DropDownList()
            .Name("Product")
            .DataTextField("Text")
            .DataValueField("Value")
            .BindTo(Model.AvailableProducts)
        )

        @Html.LabelFor(model => model.Amount)
        @Html.EditorFor(model => model.Amount)
        @Html.ValidationMessageFor(model => model.Amount)

        @Html.LabelFor(model => model.PricePerUnit)
        @Html.EditorFor(model => model.PricePerUnit)
        @Html.ValidationMessageFor(model => model.PricePerUnit)

        <br />
        <input type="button" id="btnAddProductToList" value="Add to list" />
    </div>
}

<div id="grid"></div>

<label for="totalPriceForAll">Total:</label>
<input type="text" id="totalPriceForAll" value="0.00" disabled="disabled" />
<input id="submitTransaction" type="button" value="Make transaction" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        //Initialize kendo grid
        $(function () {
            $("#grid").kendoGrid({
                dataSource: {
                },
                schema: {
                    model: {
                        id: "ID",
                        fields: {
                            ID: { editable: false },
                            productName: {},
                            productAmount: {},
                            pricePerUnit: {},
                            totalPrice: {},
                        }
                    }
                },

                columns: [
                        {
                            field: "productName",
                            title: "Product name"
                        },
                        {
                            field: "productAmount",
                            title: "Product amount"
                        },
                        {
                            field: "pricePerUnit",
                            title: "Price per unit"
                        },
                        {
                            field: "totalPrice",
                            title: "Total Price"
                        },
                ]
            });
        });

        //Add the onClick event
        $(function () {
            $("#btnAddProductToList").on("click", function () {
                if ($("#addProductToListForm").valid()) {
                    var dropDownList = $("#Product").data("kendoDropDownList");
                    var productName = dropDownList.text();
                    var productId = dropDownList.value();
                    var amount = $("#@Html.IdFor(model => model.Amount)").val();
                    var pricePerUnit = $("#@Html.IdFor(model => model.PricePerUnit)").val();
                    var storePrice = getProductPrice(productId);
                    if (storePrice < pricePerUnit) {
                        var shouldContinue = confirm("The store price for this product is "
                            + storePrice
                            + ". You are going to pay "
                            + pricePerUnit
                            + " for the same product. Do you still wish to add this replenishment to the list?");
                        if (shouldContinue == false) {
                            return;
                        }
                    }

                    //update kendo
                    var grid = $("#grid").data("kendoGrid");
                    grid.dataSource.add({
                        ID: productId,
                        productName: productName,
                        productAmount: amount,
                        pricePerUnit: pricePerUnit,
                        totalPrice: amount * pricePerUnit
                    });
                    calculateTotal();
                }
            })
        });

        //Calculates the total sum for the replnishment
        function calculateTotal() {
            var totalAmount = 0;
            var gridData = $("#grid").data("kendoGrid").dataSource.data();
            if (gridData.length != 0) {
                $.each(gridData, function (i, row) {
                    totalAmount += Number(row.totalPrice);
                });
            }
            totalAmount = totalAmount.toFixed(2);
            $("#totalPriceForAll").val(totalAmount);
        }

        function getProductPrice(id) {
            var storePrice = -1;
            $.ajax({
                type: 'Get',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("GetProductPrice")",
                data: { productId: id },
                traditional: true,
                async: false,
                success: function (jsonFromServer) {
                    storePrice = jsonFromServer.price;
                },
                error: function () {
                    alert("Unable to get the store price for the product!");
                }
            });
            return storePrice;
        }

        $(function () {
            var submitButton = $("#submitTransaction");
            submitButton.on("click", function () {
                submitButton.prop("disabled", true);
                var replenishments = [];
                var gridData = $("#grid").data("kendoGrid").dataSource.data();
                $.each(gridData, function (i, row) {
                    var id = row.ID;
                    var amount = row.productAmount;
                    var pricePerUnit = row.pricePerUnit;
                    var replenishment = {
                        ProductId: id,
                        Amount: amount,
                        PricePerUnit: pricePerUnit
                    };
                    replenishments.push(replenishment)
                });

                var verificationToken = $('#addProductInfo [name=__RequestVerificationToken]').val();
                var headers = {};
                headers['__RequestVerificationToken'] = verificationToken;
                $.ajax({
                    type: 'Post',
                    dataType: 'json',
                    headers: headers,
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("AddReplenishment")",
                    data: JSON.stringify(replenishments),
                    traditional: true,
                    success: function (result) {
                        if (result.success == false) {
                            alert(result.error);
                        } else {
                            alert(result.message);
                            window.location.replace("/Management/");
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("An error has occurred, please try again or inform an administrator!");
                    }
                });
                submitButton.prop("disabled", false);
            })
        });
    </script>
}

