@model Supermarket.Main.Areas.Management.Models.ProductViewModel

@{
    ViewBag.Title = "Details for " + Model.Name;
}

<h2>Details for @Model.Name</h2>

<table>
    <tbody>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Manufacturer)</td>
            <td>@Html.DisplayFor(model => model.Manufacturer)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.UnitMeasure)</td>
            <td>@Html.DisplayFor(model => model.UnitMeasure)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Price)</td>
            <td>@Html.DisplayFor(model => model.Price)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.CategoryName)</td>
            <td>@Html.DisplayFor(model => model.CategoryName)</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </td>
        </tr>
    </tfoot>
</table>
